body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ffe259, #ffa751);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
}

video {
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
}

h1 {
    margin-top: 15px;
    font-size: 2.5rem;
    color: white;
}
